<div>
    <h2>Developer Documentation</h2>
    Contributions are most welcome to the project. The following resources should prove useful when either developing
    the main plugin, or providing additional information within the website.
    <br />
    <br />
        <div class="list-group">
            <a href="#/pluginDocumentation" class="list-group-item">
                <h4 class="list-group-item-heading">Plugin Documentation</h4>
                <p class="list-group-item-text">
                    The main plugin is written using Scala. This documentation provides a detailed overview of the
                    installation steps and technologies used.
                </p>
            </a>
            <a href="#/continuousIntegration" class="list-group-item">
                <h4 class="list-group-item-heading">Continuous Integration</h4>
                <p class="list-group-item-text">
                    Continuous Integration is an important aspect of a developer's workflow. This tutorial highlights
                    the important steps required in providing continuous integration within
                </p>
            </a>
            <a href="#/websiteDocumentation" class="list-group-item">
                <h4 class="list-group-item-heading">Website Documentation</h4>
                <p class="list-group-item-text">
                    This website has been developed using AngularJS and TypeScript. This documentation provides a detailed
                    overview of the installation steps required.
                </p>
            </a>
    </div>
</div>