<div>
    <div><button class="btn btn-default pull-right" ng-click="isAddFeatureCollapsed = !isAddFeatureCollapsed">{{isAddFeatureCollapsed ? "New Feature" : "Cancel Feature"}}</button></div>
    <br style="clear: both"/>
    <div class="well well-lg" collapse="isAddFeatureCollapsed">
        <form name="newFeatureForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="newFeature.title" class="form-control" placeholder="Enter Title">
            </div>

            <div class="form-group">
                <label>Tags</label>
               <!-- <input type="text"  ng-model="newFeature.tags" class="form-control" data-role="tagsinput" placeholder="Enter Title" required>-->
                <div class="bs-docs-example">
                    <bootstrap-tagsinput
                            ng-model="newFeature.tags"
                            suggestion-url="getSuggestedTags"
                            tagclass="getTagClass">
                    </bootstrap-tagsinput>
                </div>
            </div>

            <div class="form-group">
                <label>Images</label>
                <image-uploader images="newFeature.images" ></image-uploader>
            </div>

            <button type="submit" class="btn btn-primary" ng-click="submit(newFeature, newFeatureForm)" ng-disabled="newEventForm.$invalid">Submit</button>
            <button type="button" ng-click="cancel();" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>


<!--
   Show all currently known features, in reverse
-->
<div ng-repeat="feature in features | orderBy:'date':true ">
    <div class="">
        <h3>{{feature.title}}</h3>
        <div>
            Tags: <tags source="feature.tags" ></tags>
        </div>
    </div>

    <div class="">
        <carousel>
            <slide ng-repeat="slide in feature.images" active="slide.active">
                <img ng-src="{{slide.location}}" style="margin:auto;">

             <!--   <div class="carousel-caption">
                    <h5>{{slide.title}}</h5>

                    <p>{{slide.description}}</p>
                </div> -->
            </slide>
        </carousel>
    </div>
    <br style="clear:both"/>
</div>