<div class="jumbotron">
    <h1>Camel Plugin Documentation</h1>
    <p>Additional features and usage documentation for the Xml Static Analysis Plugin, which provides additional support for Apache Camel such as intelligent code completion, refactoring support, reference contribution etc.</p>
    <p><a href="#/features" class="btn btn-primary btn-lg" role="button">View Features &raquo;</a></p>
</div>

<div class="page-header">
    <h1>What is it?</h1>
</div>

<!-- Partial to include the markdown files -->
<section>
    <div ng-include src="'docs/readme-core.html'"></div>
</section>