.view {
    margin-top: 70px;
}

.carousel-caption{
    background: rgba(0,0,0,0.3);
}

/* ui.bootstrap addition */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.dragged {
    line-height: 180px;
    height: 200px;
}

.googleSignin {
    width: 241px;
    height: 81px;
}